@use "../../../styles/functions" as fn;
@use "../../../styles/mixins" as mixin;
@use "../../../styles/variables" as *;

.container {
	input {
		width: 100%;
		position: static !important;
		padding: 0 5px;
		height: 40px;
		line-height: 30px;
		background: var(--input-background);
		border: 2px solid var(--border);
		font-size: var(--text-sm);
		border-radius: 5px;
		// margin-top: 10px;

		// &:hover {
		// 	background-color: var(--subtle-foreground);
		// }
	}
}

.date_container {
	position: relative;
	// background-color: var(--secondary);
	width: 100%;
	z-index: 3;

}

.icon_cross {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 10px;
	background-color: initial;
	cursor: pointer;

	svg {
		color: var(--muted-foreground);
	}
}

.dateLabel {
	color: var(--muted-foreground);
}

.has_data {
	input {
		//   background-color: transparent;
		// opacity: 1 !important;
		color: var(--foreground);
	}

	input::placeholder {
		color: var(--muted-foreground);
	}

	input[disabled] {
		opacity: 1;
		background-color: var(--muted-background);
	}
}

.is_edit {
	input {
		background-color: var(--subtle-foreground);
	}
}

.input_error:not([disabled]) {
	border: 1px solid var(--destructive) !important;
}

.input_error {
	border: 1px solid var(--destructive) !important;
}