/** @format */

@use '../../../styles/variables.scss' as *;

%gridColumn {
  grid-auto-columns: 25px 100px 100px 80px 0.5fr 0.8fr 1fr 100px 25px;
  gap: 30px;
}

.list_header {
  @extend %gridColumn;
}

.item_wrapper {
  @extend %gridColumn;
}

.height_auto {
  height: auto !important;
}